<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap" rel="stylesheet">
<body>
  <%- include('../layout/header') %>
  <Main class="about">
    <article class="genie"> 
      <img src="/styles/images/dategenie_prof.jpg" alt="">
    </article>

    <article class="genie">
      <img src="/styles/images/Headshot.JPG" alt="">

    </article>

    <article class="genie">
      <img src="/styles/images/IMG_0335.JPG" alt="">

    </article>
  </Main>
</body>

<%- include('../layout/footer') %>

</html>