<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap" rel="stylesheet">
<body>
  <%- include('../layout/header') %>
  <Main class="about">
    <article class="genie"> 
      <img src="/styles/images/dategenie_prof.jpg" alt="">
      <p>Ashlyn is a full stack javaScript developer.  She formerly worked in the coffee industry as an accounts executive where she streamlined business operations to increase company profits.  She can be found aimlessly wandering the halls of Code Fellows with an iv of coffee in her arm.   Shes not a genie in a bottle, baby, but she will be your dateGenie.</p>
    </article>

    <article class="genie">
      <img src="/styles/images/Headshot.JPG" alt="">
      <p>DJ is a full-stack JavaScript developer. He worked at Seattle Children’s for the past year and a half before deciding to make a change to software development. DJ enjoys coding and music, but wants to set the record straight and say that Billie Jean is not his lover. She's just a girl who claims that he is the one.</p>
    </article>

    <article class="genie">
      <img src="/styles/images/IMG_0335.JPG" alt="">
      <p>Rachael is a full-stack Javascript developer with a background in customer service. She likes long walks down the code fellows hallway to the fridge where she keeps her snacks. If you like pina coladas and getting stuck on code challenges, Rachael is your girl. </p>
    </article>
  </Main>
</body>

<%- include('../layout/footer') %>

</html>