<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<body>
  <%- include('../layout/header') %>
  <Main>
    <form class="login hide" action="/user" method="POST">
      <input type="text" name="username" placeholder="Please enter username">
      <button id="login">Login</button>
    </form>

    <% if (datesArray) { %>
    <%- include('../layout/saved') %>
    <% } %>
  </Main>
</body>

<%- include('../layout/footer') %>

</html>