<!DOCTYPE html>
<html>
<%- include('../layout/header') %>

<body>
  
  <form class="login" action="/" method="POST">
    <input type="text" name="Username" placeholder="Please enter username">
  </form>

</body>

<%- include('../layout/footer') %>
</html>