<!DOCTYPE html>

<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<body>
  <%- include('../layout/header') %>

  <main>
    <section id= "searchRes">
    <h2>Search for Restaurants</h2>

    <form action="/<%=id%>/searchResults" method="POST">
      <input type="text" name="search" placeholder="Enter your city">
      <button type="submit">Find Resturants Near Me!</button>
    </form>
    </section>
  </main>

</body>

<%- include('../layout/footer') %>

</html>