<!DOCTYPE html>

<%- include('../layout/header') %>

<body>
  
  <main>
    <h4>Add to To-Do List</h4>

    <form action="/todo" method="POST"></form>
      <input type="text">
      <span onclick="newElement()" class="addBtn">Add To List</span>
  </main>
  
</body>

<%- include('../layout/footer') %>
</html>