<!DOCTYPE html>

<%- include('../layout/header') %>

<body>

  <h4>Add to Date-List:</h4> </br>
  <div id="container">
    <input id="txtin" type="text" />
    <button id="btnin">Add</button>
    </br>
  </div>

</body>

<%- include('../layout/footer') %>

</html>