<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<body>
  <%- include('../layout/header') %>
  <main>
    <h4>Add to Date-List:</h4> </br>
    <div id="container">
      <input id="txtin" type="text" />
      <button id="btnin">Add</button>
      </br>
    </div>
  </main>

</body>

<%- include('../layout/footer') %>

</html>