header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header > img {
  height: 20vw;
  width: 20vw;
  align-self: flex-end;
}

article > img {
  height: 20vw;
  width: auto;
  max-width: 100%;
}

.unhide {
  margin: 4vw auto auto 2vw;
}

.menu {
  width: 40px;
  height: 5px;
  background-color: black;
  margin: 4px 0;
}

.hide {
  display: none;
}

.desktop {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav > p > a {
  text-decoration: none;
}

footer {
  line-height: 3em;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

article {
  margin: 2vw 1vw;
  width: 40vw;
}

@media screen and (min-width: 768px) {

  header {
    flex-direction: column-reverse;
  }

  .mobile {
    display: none;
  }

  .menu {
    display: none;
  }

  .desktop {
    display: flex;
  }

  article {
    width: 20vw;
  }

}