html {
  background-color: rgb(116, 111, 111);
}

body {
  background-color: white;
  border-radius: 2%;
  border: black solid 2px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1vw;
  height: 20vw;
}

header > img {
  height: 20vw;
  width: 20vw;
  align-self: flex-end;
  border-radius: 2%;
 
}

article {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: rgb(116, 111, 111);
  border-radius: 10%;
  color: black;
  margin: 1vw auto;
  text-align: center;
  padding: 1vw;
 
}

article a {
  text-decoration: none;
  color:  rgb(116, 111, 111);
}

article > img {
  height: 20vw;
  width: 20vw;
  max-width: 100%;
  border-radius: 10%;
  /* margin: 2vw 1vw; */
}

.mobile {
  background-color: black;
  color: rgb(116, 111, 111);
  
}


.unhide {
  margin: 4vw auto auto 2vw;
}

.menu {
  width: 40px;
  height: 5px;
  background-color: black;
  margin: 4px 0;
}

.hide {
  display:none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav > p > a {
  text-decoration: none;
  color: rgb(116, 111, 111);
  font-size: 1.6em;
  font-family: 'Archivo Narrow', sans-serif;
}

.desktop {
  display: none;
  padding: 1em;
  background-color: black;
  color: rgb(116, 111, 111);
}

footer {
  line-height: 3em;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: column-reverse;
  }

  .mobile {
    display: none;
  }

  .menu {
    display: none;
  }

  .desktop {
    display: flex;
    background-color: black;
    color: rgb(116, 111, 111);
  }
  
  article {
    width: 20vw;
  }
}