<div class="create">
  <h1>Create an account:</h1>
  
  <form action="/addUser" method="POST">
  
      <fieldset>
        <label>
         <h2>Username</h2>
          <input type="text" name="username">
        </label>
      </fieldset>
  
      <fieldset>
        <label>
          <h2>Password</h2>
          <input type="text" name="password">
        </label>
      </fieldset>
  
      <fieldset>
        <h2>Do you have kids?</h2>
        <label>
          <label>Yes<input type="radio" name="kids" id="yes" value="true"></label>
          <label>No<input type="radio" name="kids" id="no" value="false"></label>
        </label>
      </fieldset>

      <fieldset>
        <label>
          <h2>What city will you be dating in?</h2>
          <input type="text" name="location" placeholder="Please enter a city">
        </label>
      </fieldset>
  
      <button>Create Account</button>
    </form>
  
  </div>