<div class="create">

    <form action="/addUser" method="POST">
  
      <fieldset>
        <label>
          Username
          <input type="text" name="username">
        </label>
      </fieldset>
  
      <fieldset>
        <label>
          Password
          <input type="text" name="password">
        </label>
      </fieldset>
  
      <fieldset>
        Do you have kids?
        <label>
          <input type="radio" name="kids" id="yes" value="true">
          <input type="radio" name="kids" id="no" value="false">
        </label>
      </fieldset>

      <fieldset>
        <label>
          What city will you be dating in?
          <input type="text" name="location" placeholder="Please enter a city">
        </label>
      </fieldset>
  
      <button>Create Account</button>
    </form>
  
  </div>