<div class="create">

    <form action="/addUser" method="POST">
  
      <fieldset>
        <label>
          Username
          <input type="text" name="username">
        </label>
      </fieldset>
  
      <fieldset>
        <label>
          Password
          <input type="text" name="password" id="">
        </label>
      </fieldset>
  
      <fieldset>
        Do you have kids?
        <label> 
          Yes
          <input type="radio" name="kids" id="yes" value="yes">
        </label>
        <label>
          No
          <input type="radio" name="kids" id="no" value="no">
        </label>
      </fieldset>

      <fieldset>
          <label>
            What city do you live in?
            <input type="text" name="location" id="">
          </label>
        </fieldset>

      <button>Create Account</button>
  
    </form>
  
  </div>