<article>
  <p>Name: <%=result.name%></p>
  <p>Rating: <%=result.rating%></p>
  <img src="<% result.img_url%>" alt="restaurant image">
  <p>Price: <%=result.price%></p>
  <p><a href="<%result.link%>">visit website</a>
  </p>


</article>