<head>
  <title>dateGenie</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/module.css">
</head>

<header>
  <h1>dateGenie</h1>

  <nav>
    <p><a href="/">Nav 1</a></p>
    <p><a href="/">Nav 2</a></p>
    <p><a href="/">Nav 3</a></p>
    <p><a href="/">Nav 4</a></p>
  </nav>
</header>