<head>
  <title>dateGenie</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/module.css">
</head>

<header>
  <h1>dateGenie</h1>

  <nav>
    <p><a href="/">Saved Dates</a></p>
    <p><a href="/">Search for Resturants</a></p>
    <p><a href="/">Search for Movies</a></p>
    <p><a href="/">To-Do Lists</a></p>
  </nav>
  
</header>