<div class="login">

  <form action="" method="POST">

    <fieldset>
      <label>
        Username
        <input type="text">
      </label>
    </fieldset>

    <fieldset>
      <label>
        Password
        <input type="text" name="" id="">
      </label>
    </fieldset>

  </form>

</div>